tqdm==4.61.0
requests==2.25.1
papermill==2.3.3
scipy==1.6.3
statsmodels==0.12.2
pytest==6.2.4
numpy==1.20.3
pandas==1.2.4
pymc3==3.11.2
click==8.0.1
cadCAD_tools==0.0.1.4
scikit_learn==0.24.2
nbconvert